{% extends 'base.html.twig' %}
{% block body %}
<h1>Bienvenue sur le blog</h1>


<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias soluta reiciendis reprehenderit adipisci voluptate maiores dolor, possimus ducimus nostrum deleniti voluptas, nulla pariatur nemo! Optio omnis earum veniam maxime facilis.10
</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias quaerat nesciunt et, animi dolore dignissimos. A ad repudiandae nostrum minus possimus est ab necessitatibus. Ipsam error suscipit laborum adipisci qui!
Non, recusandae eum rem enim asperiores aperiam laudantium omnis, ipsum iure veniam optio dolore deleniti? Unde rerum reiciendis illum, minima esse repellendus ipsam, ut, quaerat iusto voluptate eligendi voluptas dolore?
Tempora molestias sint similique officia modi sit atque voluptatem accusamus sed blanditiis non necessitatibus nobis ullam, totam, sequi voluptatum quidem doloribus obcaecati iste. Ipsam itaque magni iure odit, quam quaerat?
Placeat esse voluptate vel vero, est autem delectus natus eos laborum. Eligendi qui, debitis id sapiente minus ad accusamus sunt quae tenetur et corporis saepe eaque itaque possimus vero eius. deleniti quas deserunt fuga, incidunt blanditiis recusandae sit voluptas cum repellendus beatae mollitia explicabo culpa.  </p>


{% endblock %}